node_modules/*
bower_components/*
typings/*
app/*.component.js
app/*.component.js.map
app/*.module.js
app/*.module.js.map
app/*.routing.js
app/*.routing.js.map
app/main.js
app/main.js.map
app/components/**/*.component.js
app/components/**/*.component.js.map
app/providers/**/*.provider.js
app/providers/**/*.provider.js.map
app/pipes/**/*.pipe.js
app/pipes/**/*.pipe.js.map
app/config/**/*.provider.js
app/config/**/*.provider.js.map
app/model/*.js
app/model/*.js.map
app/model/**/*.js
app/model/**/*.js.map
