dist/*
node_modules/*
bower_components/*
typings/*
app/*.js
app/*.js.map
app/components/**/*.component.js
app/components/**/*.component.js.map
app/services/**/*.service.js
app/services/**/*.service.js.map
app/pipes/**/*.pipe.js
app/pipes/**/*.pipe.js.map
app/models/**/*.js
app/models/**/*.js.map
