<vaadin-grid #grid (selected-items-changed)="onSelectedItemsChanged($event)" (sort-order-changed)="onChangeSortOrder($event)">
    <table>
        <colgroup>
          <col *ngFor="let cell of table">
        </colgroup>
      <thead>
        <tr>
          <th *ngFor="let cell of table">{{cell.title}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of people"><td>wefwef</td><td>wefef</td><td>efwef</td>
          <td *ngFor="let cell2 of table">Ciao{{getField(user,cell2.path)}}</td>
        </tr>
      </tbody>
    </table>
</vaadin-grid>

<div class="tablePref">
    <div class="show-rows">
        <paper-dropdown-menu label="Show rows">
          <paper-listbox class="dropdown-content" (iron-select)="onShowPageChange($event)" selected="{{pageSizeIndex}}">
            <paper-item *ngFor="let pageSize of pageSizes; let i = index" value="{{i}}">{{pageSize}}</paper-item>
          </paper-listbox>
        </paper-dropdown-menu>
    </div>
    <div class="pagination">
        <a (click)="onDoubleLeftClick(pageInput)"><iron-icon icon="vaadin-icons:angle-double-left"></iron-icon></a>
        <a (click)="onLeftClick(pageInput)"><iron-icon icon="vaadin-icons:angle-left"></iron-icon></a>
        <paper-input class="pageCountInput" label="Page" #pageInput (keyup.enter)="onInsertPage(pageInput)" allowed-pattern="\d+" error-message="Numbers only!" auto-validate [value]="page"><div suffix>/{{maxPage}}</div></paper-input>
        <a (click)="onRightClick(pageInput)"><iron-icon icon="vaadin-icons:angle-right"></iron-icon></a>
        <a (click)="onDoubleRightClick(pageInput)"><iron-icon icon="vaadin-icons:angle-double-right"></iron-icon></a>
    </div>
    <div style="clear:both;"></div>
</div>
